# sprint4_challange

In [27]:
import numpy as np
import pandas as pd

In [28]:
df=pd.read_csv("DS1_C4_S4_Car_Prices_Data_Challenge (1).csv.crdownload")
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41410,2014,Nissan,Versa Note,1.6 SV,Hatchback,manual,3n1ce2cp7el390207,nv,NaN,2635.0,white,—,henderson nissan,11500.0,10200.0,Fri Dec 19 2014 11:45:00 GMT-0800 (PST)
41411,2014,Nissan,Sentra,SV,Sedan,automatic,3n1ab7apxey200354,mo,3.8,4215.0,black,black,nissan motor acceptance corporation,13550.0,13300.0,Mon Dec 22 2014 11:00:00 GMT-0800 (PST)
41412,2014,Nissan,Pathfinder,SV,SUV,NaN,5n1ar2mm8ec609387,co,4.8,20961.0,black,black,nissan north america inc.,30600.0,22000.0,Tue Feb 10 2015 04:00:00 GMT-0800 (PST)
41413,2014,Scion,xD,Base,Hatchback,automatic,jtkkupb48e1041864,fl,5.0,1469.0,blue,black,world omni financial corporation,14200.0,14700.0,Mon Dec 22 2014 09:30:00 GMT-0800 (PST)
41414,2014,Ram,1500,Longhorn,Crew Cab,automatic,1c6rr7p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

# task 1

In [30]:
x=df[df['year']== 2014][['make','sellingprice']].sort_values(by='sellingprice')
x.head()

            make  sellingprice
36340  Chevrolet        1200.0
27902      Mazda        1300.0
2191   Chevrolet        1400.0
5623       Mazda        1500.0
7744       Mazda        1500.0

# task 2

In [14]:
df[(df['year']==2010) | (df['year']==2015)].head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
11,2015,Kia,Optima,LX,Sedan,automatic,5xxgm4a73fg353538,ca,4.8,2034.0,red,tan,kia motors finance,15150.0,17700.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)

In [15]:
df[(df['condition']>4.5) & (df['make']=='BMW')].head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
37,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c50ek108497,ca,5.0,111.0,black,—,financial services remarketing (lease),32200.0,30500.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
59,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed097712,ca,4.7,7766.0,gray,black,fratelli investment group,71000.0,77250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
71,2014,BMW,X1,sDrive28i,SUV,automatic,wbavm1c53evw47779,ca,4.8,19689.0,white,black,financial services remarketing (lease),23700.0,26500.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
106,2014,BMW,5 Series,535d,Sedan,automatic,wbaxa5c52ed689665,ca,4.8,12292.0,white,black,financial services remarketing (lease),46300.0,46500.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
110,2014,BMW,X5,xDrive35i,SUV,automatic,5uxkr0c54e0k49204,ca,5.0,4503.0,white,black,financial services remarketing (lease),57500.0,57250.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [34]:
df= pd.pivot_table(task2_2, index=['year'], values=['sellingprice'], aggfunc=['mean'])
df

             mean
     sellingprice
year
2015      64000.0

# task 3

In [240]:
a=df[(df['color'].isin(['black','gray']))]
a

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
15,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap5fc124223,ca,2.0,11398.0,black,black,enterprise vehicle exchange / tra / rental / t...,14750.0,14100.0,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
23,2015,Audi,A3,1.8 TFSI Premium,Sedan,automatic,wauacgff7f1002327,ca,4.9,5826.0,gray,black,audi north scottsdale,24000.0,23750.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
34,2015,Kia,Sorento,LX,SUV,automatic,5xyktca68fg559481,ca,4.4,12862.0,gray,black,"kia motors america, inc",20700.0,21000.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
36,2015,Chevrolet,Suburban,LTZ,SUV,automatic,1gnskkkc3fr187901,ca,4.5,11426.0,black,black,midway hfc fleet/ars,57300.0,59900.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39091,2010,Toyota,Corolla,S,Sedan,automatic,1nxbu4ee8az383443,oh,NaN,206306.0,gray,black,bert wolfe ford inc,6425.0,6600.0,Tue Dec 23 2014 09:30:00 GMT-0800 (PST)
39092,2010,Volkswagen,CC,Sport PZEV,Sedan,automatic,wvwmp7an1ae551347,nj,3.5,104743.0,black,tan,lester glenn buick,7625.0,7100.0,Wed Dec 31 2014 09:30:00 GMT-0800 (PST)
41170,2015,Mazda,CX-5,Touring,SUV,automatic,jm3ke2cy1f0438596,fl,5.0,12160.0,black,gray,enterprise veh exchange/rental,19900.0,20200.0,Mon Dec 22 2014 09:30:00 GMT-0800 (PST)
41173,2015,Kia,Sorento,LX,SUV,automatic,5xyktca64fg578464,nv,5.0,13913.0,black,gray,"kia motors america, inc",20900.0,20000.0,Wed Dec 31 2014 12:00:00 GMT-0800 (PST)
41175,2015,Kia,Sorento,LX,SUV,automatic,5xyktca60fg565744,nv,4.7,10304.0,black,black,"kia motors america, inc",21000.0,21000.0,Wed Dec 31 2014 12:00:00 GMT-0800 (PST)

In [241]:
b=a.groupby('color')['mmr'].mean()
b=b.reset_index()

In [242]:
b

   color           mmr
0  black  15567.751479
1   gray  13617.356688

In [243]:
b.loc[0:,'mmr']

0    15567.751479
1    13617.356688
Name: mmr, dtype: float64

# task 4

In [227]:
x2=df [(df['year']==2013)| (df['year']==2014) | (df['year']==2015)]
x2.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
11,2015,Kia,Optima,LX,Sedan,automatic,5xxgm4a73fg353538,ca,4.8,2034.0,red,tan,kia motors finance,15150.0,17700.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)

In [231]:
x2=df.groupby(['color'])['color'].agg(['count']).sort_values(by='count',ascending=False)
x2

           count
color
black        507
white        432
silver       335
gray         314
blue         215
red          162
green        107
gold          43
burgundy      39
—             29
beige         26
brown         18
orange         8
purple         8
charcoal       4
off-white      3
yellow         2
lime           1

# task 5

In [252]:
b1=df[(df['body']=='SUV') & (df['saledate']=='Fri Dec 19 2014 09:00:00 GMT-0800 (PST)')]
c=b1['body'].count()
c

534

In [254]:
b2=df[(df['body']=='SUV') & (df['saledate']=='Thu Jan 15 2015 04:30:00 GMT-0800 (PST)')]
d=b2['body'].count()
d

25

# task 6

In [ ]:
col=list(df.columns)
index=col.index('sellingprice')
df.insert(index+1,column='Discountedprice',value=0)

In [ ]:
df.loc[df['make'].isin(['Ford','Chevrolet']),'Discountedprice']=df['sellingprice']*.9

In [ ]:
df.loc[df(['make']!='Ford') & (df['make']!='Chevrolet'),'Discountedprice']=df['sellingprice']*.8

In [259]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discountedprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500.0,21500.0,0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800.0,21500.0,0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

# task 7

In [49]:
df.isnull().sum()

year                0
make              191
model             193
trim              340
body             1278
transmission     5452
vin                 0
state               1
condition       11100
odometer           69
color             125
interior          125
seller              1
mmr                 1
sellingprice        1
saledate            1
dtype: int64

In [50]:
df=df.fillna(method='ffill')
df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64